
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  height: 5rem;
}

.jumbotron {
  background-image: url("/img/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  padding-top: 7rem;
}

.home-title {
  text-shadow: black 0.05em 0.1em 0.05em;
}

.home-title h1{
  font-size: 4rem;
}

.home-title h2{
  font-size: 3rem;
}

.searchbar {
  display:block;
  width: 100%;
  margin-top: 8rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-valid {
  font-size: 1.6rem;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  background: #dca134 linear-gradient(180deg, #eed025, #f3b93c) repeat-x;
  border-color: #dca134;
}

.btn-valid:hover {
  color: #fff;
  background: #dba030 linear-gradient(180deg, #daaa43, #dba030) repeat-x;
  border-color: #dba030;
}

main>.container {
  margin-top:40px;
}

.card-header {
  text-transform: uppercase;
}

label {
  text-transform: capitalize;
}
